{% extends 'base.html' %}
{% load socialaccount %}
{% block title %} Detail {% endblock title %}
{% block header %}
<style>
    .heart {
        font-size: 25px;
        color: red;
    }
</style>
{% endblock header %}
{% block body %}

<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-5">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active"><img src="{{album.cover.url}}" height="300" width="300"
                                style="padding:20px;margin-left:100px;border-radius: 60px 60px 60px 60px;"></div>
                    </div>

                </div>
                <div class="details col-md-6" style="padding:80px;">
                    <br>
                    <h3 class="product-title">Album : {{album.name}}</h3>
                    <h6>Singer: {{album.singer}}</h6>
                    <h6>Release Year: {{album.year}}</h6>
                    <br>                                                       
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<table class="table table-hover" >
    <thead style="background-color:#4ABDAC">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Song Name</th>
        <th scope="col">Song</th>
        <th scope="col">More details</th>
      </tr>
    </thead>
    <tbody>
      {% if all_songs %}
      {% for song in all_songs %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><a href="{% url 'detail' song.id %}">{{song.name}}</a></td>
        <td>
          <audio controls>
            <source src="{{ song.song_file.url }}" type="audio/mpeg">
          </audio>
        </td>
        <td>
          <a href="{% url 'detail' song.id%}" class="btn btn-info mt-2 mx-1">see comments</a>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>

{% endblock body %}

