{% extends 'base.html' %}
{% load socialaccount %}
{% block title %} Detail {% endblock title %}
{% block header %}
<style>
    .heart {
        font-size: 25px;
        color: red;
    }
</style>
{% endblock header %}
{% block body %}


<br>
{% if albums %}
{% for album in albums %}
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-5">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active"><img src="{{album.cover.url}}" height="200" width="200"
                                style="padding:20px;border-radius: 60px 60px 60px 60px;"></div>
                    </div>

                </div>
                <div class="details col-md-6">
                    <br>
                    <h3 class="product-title">Album:{{album.name}}</h3>
                    <h6>Singer: {{album.singer}}</h6>
                    <h6>Release Year: {{album.year}}</h6>
                    <a href="{% url 'album' album.id%}" class="btn btn-info mt-2 mx-1">see song lists</a>
                    <br>                                                       
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock body %}

