{% extends 'base.html' %}
{% load socialaccount %}
{% block title %} Detail {% endblock title %}
{% block header %}
<style>
    .heart {
        font-size: 25px;
        color: red;
    }
</style>
{% endblock header %}
{% block body %}
<br>
{% if messages %}
<ul class="messages" style="width: 600px;margin-left:400px">
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <!--!!!!!!-->
    <div class="alert alert-danger">
        <strong>Failed!</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>    
    </div>
    {% else %}
    <div class="alert alert-success">
    <strong>success</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>   
    </div>   
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
<br>
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-5">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active"><img src="{{songs.album.cover.url}}" height="300" width="300"
                                style="padding:20px;border-radius: 60px 60px 60px 60px;"></div>
                    </div>

                </div>
                <div class="details col-md-6">
                    <br>
                    <h3 class="product-title">{{songs.name}}</h3>
                    <h6>Album: {{songs.album.name}}</h6>
                    <h6>Singer: {{songs.album.singer}}</h6>
                    <h6>Release Year: {{songs.album.year}}</h6>
                    <br>
                    <!-- <audio controls>
                        <source src="{{ songs.song_file.url }}" type="audio/mpeg">
                    </audio>   -->

                    <form method="post">
                        {% csrf_token %}
                        <button style="float: left;" type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-plus" aria-hidden="true"></i> Create New Playlist</button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">New Playlist</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Name</label>
                                                <input type="text" class="form-control" id="recipient-name"
                                                    name="playlist">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="Submit" class="btn btn-primary">Create Playlist</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form method="post">
                        {% csrf_token %}
                        <select style="margin-left: 10px;width: 170px;" class="btn btn-success"
                            onChange="form.submit();" name="playlist">
                            <option selected="selected" disabled style="color: black;">Add to Playlist</option>
                            {% if playlists %}
                            {% for playlist in playlists %}
                            <option value={{playlist.playlist_name}}>{{playlist.playlist_name}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </form>

                    <form method="post">
                        {% csrf_token %}
                        {% if is_favourite %}
                        <span class="d-flex align-items-center mt-2 ml-2">
                            <!-- <i class="heart fa fa-heart my-auto"></i> -->
                            <button type="submit" name="rm-fav" class="btn btn-danger btn-block"
                                style="width: 358px;margin-left:-8px;background-color: red;">Remove from Favourites</button>
                        </span>
                        {% else %}
                        <span class="d-flex align-items-center mt-2 ml-2">
                            <!-- <i class="heart fa fa-heart my-auto"></i> -->
                            <button type="submit" name="add-fav" class="btn btn-danger btn-block"
                                style="width: 358px;margin-left:-8px;background-color: red;"><i class="heart fa fa-heart-o my-auto" style="color:white"></i> Add to Favourites</button>

                            <!-- <input type="submit" id="favbtn" class="btn btn-primary" name="add-fav" value="Add to Favourites"> -->
                        </span>

                        {% endif %}
                    </form>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
<br>
<div class="comment_submit">
    <form method="post">
        {% csrf_token %}
        <span class="d-flex align-items-start mt-2 ml-2">
            <!-- <i class="heart fa fa-heart my-auto"></i> -->
            <div class="textarea">
                <textarea name="comment" id="comment" cols="130" rows="3"  style="border-radius:25px"
                    input type="text" placeholder="please leave your comments here"/ ></textarea>
            </div>
            <button type="submit" class="btn btn-danger btn-block"
             style="width: 100px;margin-left:8px;margin-top:20px;background-color: red;">Subimt</button>

            <!-- <input type="submit" id="favbtn" class="btn btn-primary" name="add-fav" value="Add to Favourites"> -->
        </span>
    </form>          

</div>
<br>
<br>
<br>
<br>

<div class="comment_diplay">
    <h3>comment area</h3>
    {% if all_comments %}
    {% for comment in all_comments %}  
      <div class="messege">
        <div class="user_name" style="float:left">
            <p>{{comment.user.username}}</p>
        </div> 
        <div class="comment_text" style="float:left">
            <p> {{comment.text}}</p>
        </div> 
        <div class="comment_time" align="left" style="clear:both;color:gray;margin-left:10px">
            <p>time: {{comment.date}}</p>
        </div> 
      </div>
    {% endfor %}
    {% else %}
    <h3>no comments for this song now!Come and comment above!</h3>
    {% endif %}
</div>

<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
/**********************/
<footer class="footer">
    <div class="player" style="padding-left: 10px;padding-top:10px;background-color: #459dfb;">
        <div class="left" >
             <img src="{{last_played.album.cover.url}}" height="90" width="90"
                style="border-radius: 100%;" id="musicico" onclick="musiccc()"></div>
        <div class="right">
            <div class="top">
                <a class="song"  style="margin-left: 15px;color: white;">{{last_played.name}}</a>
                <a class="artist" style="margin-left: 15px;color:white">{{last_played.album.name}}</a>
            </div>
            <div class="bottom"  >
               <button onclick="musiccc()" style="margin-left:36px ;margin-top:12px;margin-bottom:10px;
                    width: 34px;height:26px;border: none;border-radius: 100%; z-index:0;"></button>
                <audio controls=false  _autoplay=""  name="media" id="music"
                    style="margin-left: -44px;margin-top: 10px;width: 1245px;height:30px;pointer-events:none;">
                    <source src="{{last_played.song_file.url}}" type="audio/mpeg" ></audio>
            </div>
        </div>
    </div>
</footer>

<script>
// 动画旋转
var music = document.getElementById('music')    //获取音乐
var musicico = document.getElementById('musicico')   //获取音乐图标
var tem = false  //设置一个变量，用来控制音乐是否在播放。
document.getElementById('musicico').style.animationPlayState = 'paused'


//定义一个函数，当用户单击的时候触发这个函数，从而实现音乐的暂停与播放。
function musiccc(){
	//tem用来控制音乐当前是否在播放。true代表音乐正在播放，false代表音乐当前正在处于暂停的状态。
	if(tem == true){
           music.pause()  //暂停音乐
		tem = false
		document.getElementById('musicico').style.animationPlayState = 'paused'  //暂停音乐图标
		
	}else{
		music.play()  //播放音乐
		tem = true  
		document.getElementById('musicico').style.animationPlayState = 'running'  //播放音乐图标
	}
}

</script>
/**********************/
{% endblock body %}


